{% extends "layout.html" %}

{% block content %}
<div class="container mt-3">
    <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <input class="form-control" type="file" id="formFile" name="file" required>
            <div class="col-md-12 mt-3 ms-auto">
                <button type="submit" class="btn btn-primary" id="nopBai">Submit</button>
            </div>
        </div>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} mt-3">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>
{% endblock %}
